mdb-card-title {
  h4 {
    color: #3f8c56;
  }
}

mdb-card-img {
  text-align: center;
  padding-top: 10px;
}

.property-info {
  span {
    padding-right: 10px;
    strong {
      color: #332f2f;
    }
  }
}
::ng-deep {
  .gm-ui-hover-effect {
    display: none !important;
  }
  .gm-style .gm-style-iw-c {
    padding: 5px !important;
    height: 26px;
    width: 50px;
    border-radius: 5px;
  }
  .gm-style .gm-style-iw-d {
    overflow: hidden !important;
  }
  .gm-style-iw-c:hover {
    cursor: pointer !important;
  }
  .firstHeading {
    font-weight: bold;
    color: #007bff;
  }
}
